<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Your All Friends</h3>
    <% for (data of userData){%>

       <div> <a href="/chatNow/chat/<%= data.name%>"><%= data.name %></a></div>
           
       <%} %>
</body>
</html>